#primaryContent{
  padding-top: 5rem;
  padding-bottom: 4rem;
  &.background-dark{
      background-color: #f9f9f9;
  }
            #inner-wrapper{
                img{
                    width:100% !important;
                    height: auto;
                    object-fit: cover;
                }
                .primary-content--wysiwyg{
                    display:flex;
                    flex-direction: column;
                    align-items:flex-end;
                    text-align:right;
                    h2{
                        margin-bottom:2rem;
                        font-weight:bold;
                    }
                    p{
                        text-align:right;
                        width: 80%;
                     
                    }

                }
  
    }
    }