.page-footer{
    background-color: $dark;
    direction: rtl;
    img{
      width:80px;
      height: auto;
    }
    .f-footer-menu{
      ul{
        list-style: none;
        li{
          font-size: 0.7rem !important;
          color: white !important;
          margin-bottom: 0.5rem !important;
        }
      }
    }

    p {
      font-size: 0.7rem !important;
      color: white !important;
      margin-bottom: 0.5rem !important;
    }
    a{
      color: white !important;
      text-decoration: none;
    }
    a:hover{
      color: $hoverCol !important;
      text-decoration: none !important;
    }
    h6{
      font-size: 0.85rem !important;
      color:white !important;
    }
  
  }