#cards{
    .card{
        margin-bottom: 1.5rem;
        border: 0;
        .image{
            text-align: center;
            img{
                width: 138px;
            }
        }
        .title{
           
            h3{
                color: black;
                text-align: right;
                padding-right: 1rem;
                padding:1.5rem 0;
                font-size:18px;
                text-align: center;
                @include media-breakpoint-down(md){
                    
                    
                  }
            }
        }
    }
}