#projects{
    .projectCard {
        text-decoration: none;
        overflow: hidden;
        .card-block{
            width: 350px;
            height: 230px; 
            overflow: hidden;
            img{
            width: 100%;
            height: 100%;
                transition: all 1s;          
            }
           
            img:hover{
                transform: scale(1.2);
            }
        }
        h5{
            text-align: right;
            
        }
    }
}