#primaryContent{

       
    &.xr--lightBackground{
        background-color: $xr-primary-tint-color;
       
    }
              #inner-wrapper{
                  img{
                      width:100% !important;
                      height: auto;
                      object-fit: cover;
                  }
                  .primary-content--wysiwyg{
                      display:flex;
                      flex-direction: column;
                      align-items:flex-end;
                      text-align:right;
                      h3{
                          font-weight:bold;
                          position: relative;
                          padding-bottom: 1rem;
                          &:before{
                              content:'';
                            position: absolute;
                            height: 4px;
                            width: 35px;
                            background:$xr-primary-color;
                            bottom: 5px;
                            right: 0;

                          }
                      }


                      p{
                          text-align:right;                        
                      }
                      .check-list{
                          list-style: none;
                          position:relative;
                          li{
                          &:before{
                            content: "\f14a";
                            position: absolute;
                            right: 0;
                            font-size:28px;
                            color: $xr-primary-color;
                            font-weight: 900;
                            font-family: "Font Awesome 5 Free"
                          }
                        }
                    }                   
                  }
      }
      }