$xr-primary-color :#22a6b3;
$xr-primary-hover-color: shade($xr-primary-color, 20%);
$xr-primary-tint-color: tint($xr-primary-color, 95%);
$xr-primary-h-color: shade($xr-primary-color, 50%);
$xr-primary-p-color: shade($xr-primary-color, 40%);
$xr-primary-service-card-color: shade($xr-primary-color, 90%);

$xr-white: #fff;


$dark : #111111;



