#topBar {
    // background-color: $xr-primary-color;
    background-color: $xr-primary-color;
    direction: rtl;    
    .f-main {
        display: flex;
        min-height: 35px;
        :nth-child(1).f-main-wrapper{
            @include media-breakpoint-down(md)
            {
                display: none;
            }
        }
        :nth-child(2).f-main-wrapper{
            .f-main-content{

                .social-icons{
                    li{
                        margin-right: 1rem;
                        a{
                            i{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(md)
            {
                width: 100%;

                .f-main-content{
                    width: 100%;
                    .social-icons{
                        display: flex;
                        width: 90%;
                        justify-content: space-around;
                    }
                }
            }
        }
        &-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            
        }
        .right {
            justify-content: flex-end;
        }
        .center {
            justify-content: center;
        }
        &-content {
            height: 100%;
            display: flex;
            align-items: center;
            // margin-left:1rem;
            font-size: 11px;
            color: $xr-white;
            font-weight: bold;
            text-transform: uppercase;
            ul {
                margin: 0;
                // padding-left:1rem;
                // padding-right:1rem;
                display: flex;
                align-items: center;
                height: 100%;
                list-style: none;
                li {
                    background-color: $xr-white;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-left: 0.2rem;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s ease;
                    &:hover {
                        background-color: $xr-primary-hover-color;
                        a {
                            color: $xr-white;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: $xr-primary-color;
                        i {
                            margin: 0;
                        }
                    }
                }
            }
            i {
                margin-left: 0.2rem;
            }
        }
        .f-site-info {
            margin-left: 1rem;
        }
    }
}

.admin-bar{
    #navigation {
        top: 30px !important;
        #bs-example-navbar-collapse-1{
            #menu-primary-menu{
                margin: 0 !important;
            }
            #menu-main{
                margin: 0 0 0em 0em !important;
            }
        }
    }
}
#navigation {
    position: sticky;
    top: 0;
    height: 72px;
    z-index: 50000000;
    background: white;
    .row{
        width: 100%;
        margin: 0;
    }
   
    .f-main {
        display: flex;
        min-height: 70px;
        &-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &-logo {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                a {
                    height: 50px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            &-mainNav {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                ul {
                    list-style: none;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin: 0;
                    li {
                        &:after {
                            content: '';
                            border-left: 1px $dark solid;
                            position: absolute;
                            height: 50%;
                            opacity: 0.1;
                            // top:0;
                            left: 0;
                        }
                        &:before {
                            content: '';
                            background-color: $xr-primary-color;
                            position: absolute;
                            height: 0;
                            width: 100%;
                            top: 0;
                            z-index: -1;
                            transition: all 0.2s ease;
                        }
                        margin-left:1rem;
                        width:5rem;
                        height:70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin:0;
                        position: relative;
                        &:hover {
                            .f-drop {
                                visibility: visible;
                                right: 0;
                                opacity: 1;
                                ul {
                                    
                                    li {
                                        &:before {
                                            height: 0;
                                        }
                                        a {
                                            color: $xr-primary-color;
                                        }
                                    }
                                }
                            }
                            &:before {
                                height: 100%;
                            }
                            a {
                                color: white;
                            }
                        }
                        a {
                            text-decoration: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            color: $xr-primary-color;
                            text-align: center;
                            font-weight: 400;
                            font-size: 0.8rem;
                            i {
                                width: 2rem;
                                font-size: 1rem;
                                margin-bottom: 0.3rem;
                            }
                        }
                    }
                }
                .f-drop {
                    &:before {
                        font-family: 'FontAwesome' !important;
                        content: '\f0d8';
                        position: absolute;
                        font-weight: normal !important;
                        color: white;
                        height: 5px;
                        top: -15px;
                        right: 5px;
                        z-index: 1;
                    }
                    visibility: hidden;
                    position:absolute;
                    background-color: white;
                    height: auto;
                    top:100%;
                    right:-2rem;
                    width:160px;
                    margin-top:0.1rem;
                    opacity: 0;
                    transition: all 0.5s ease;
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0;
                        li {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            justify-content: flex-start;
                            padding-right: 0.5rem;
                            &:hover {
                                background-color: #f9f9f9;
                            }
                            a {
                                display: flex;
                                flex-direction: row;
                                // transition: all 0.2s ease !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dir {
    direction: rtl;
    #bs-example-navbar-collapse-1 {
        justify-content: flex-end;
        ul{
            li{
                margin-right: 1rem;
            }
        }
    }
    .custom-logo-link {
        display: flex;
        justify-content: flex-end;
        @include media-breakpoint-up(md){
            justify-content: flex-start;
        }

        img {
            width: 20%;
            @include media-breakpoint-up(md){
                width: 35%;
            }
        }
    }
    #bs-example-navbar-collapse-1{
        
        text-align: right;
        #menu-primary-menu{
            margin: 0 !important;
        }
            #menu-main{
                margin: 0 !important;
                background: white;
            }
        
    }
}
#navigation {
    top: 30px !important;
    #bs-example-navbar-collapse-1{
        #menu-primary-menu{
            margin: 0 !important;
        }
        #menu-main{
            margin: 0 0 0em 0em !important;
        }
    }
}